:root {
    --custom-yellow: rgba(255, 183, 66, 1);
    --custom-gray-bkgrn: rgba(41, 43, 46, 1);
    --custom-footer: rgba(28, 28, 28, 1);

    --custom-footer-white1: rgba(212, 212, 212, 1);
    --custom-footer-white2: rgba(245, 251, 242, 1);
    --custom-footer-gray: rgba(123, 123, 123, 1);
}

body {
    background-color: rgba(33, 37, 41, 1);
    margin: 0px;
}

main {
    padding: 1% 3%;
}

/*Header styles*/
header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.logo_div {
    margin: 10px 45px;
}

.hire_btn_div {
    margin: 10px 45px;
    text-align: center;
    padding: 15px 30px;
    background-color: var(--custom-yellow);
    border-radius: 40%;
    color: black;
    cursor: pointer;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.header_list_div {
    align-self: center;
}

ul {
    list-style: none;
    padding-left: 20px;
}

li {
    display: inline-block;
    color: white;
    padding-right: 20px;
}

li:hover {
    color: var(--custom-yellow);
}


/*Main section styles*/
.main_section {
    display: flex; 
    flex-direction: column; 
    align-items:center; 
    margin-top: 10%;
}

.main_text1_div {
    display: inline;
    color: white;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.main_text2_div {
    display: inline;
    color: white;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 15px;
    text-transform: capitalize;
}

.main_text3_div {
    display: inline;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 35px;
    margin-bottom: 60px;
    text-transform: capitalize;
}

.main_description_div {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main_description_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 29%;
    text-align: center;
    background: var(--custom-gray-bkgrn);
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.main_description_text_1 {
    color: var(--custom-yellow);
    margin-bottom: 10px;
}
.main_description_text_2 {
    color: white;
}

.main_description_btn:hover {
    background-color: var(--custom-yellow);
    transition: all 1s;
}

.main_description_btn:hover .main_description_text_1 {
    color: black;
    transition: all 1s;
}

.main_description_btn:hover .main_description_text_2 {
    color: black;
    transition: all 1s;
}

.main_section_about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_section_about_div {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.main_section_about_btn {
    background-color: var(--custom-gray-bkgrn);
    color: var(--custom-yellow);
    text-transform: uppercase;
    padding: 10px;
    align-self: flex-start;
    border-radius: 10px;
    cursor: pointer;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.main_section_about_me_text {
    color: white;
    font-size: 3em;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.main_section_about_description {
    color: white;
    padding-bottom: 50px;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.section_my_works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section_my_works_label {
    background-color: var(--custom-gray-bkgrn);
    color: var(--custom-yellow);
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.section_my_works_featured {
    color: white;
    font-size: 3em;
    width:fit-content;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.section_my_works_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_my_works_type {
    color: white;
    margin: 10px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.section_my_works_type:hover {
    color: var(--custom-yellow);
    transition: all 1s;
}

.section_my_works_img {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    justify-content: space-around;
    margin: 10px;
}

footer {
    background-color: var(--custom-footer);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.footer_section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 18%;
    color: var(--custom-footer-gray);
    padding: 5% 2%;

    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.footer_section div{
    margin: 10px;
}

.footer_yellow_text {
    color: var(--custom-yellow);
    font-size: 2em;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.footer_white1_text {
    color: var(--custom-footer-white1);
    font-size: 1em;

    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.footer_white2_text {
    color: var(--custom-footer-white2);
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;

    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}