body {
    margin: 0%;
    font-family: 'PT Sans', 'sans-serif';
}

header {
    background-color: #202846;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

body header {
    position: sticky;
    top: 0;
    z-index: 2;
}

main {
    margin: 5% 10%;
}

.header_img1 {
    flex-grow: 5;
    align-self: flex-start;
    text-align: center;
    padding-top: 5px;
}

.header_img2 {
    flex-grow: 0.8;
    align-self: flex-end;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}

.header_list {
    flex-grow: 5;
    padding-top: 5px;
    text-align: right;
}

.header_text {
    display: inline-block;
    color: white;
    margin: auto;
    padding: 10px 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    height: min-content;
}

.header2 {
    background-color: #C6C6DC;
    color: #202846;
    padding: 60px;
    font-size: 2em;
    font-style: italic;
}

.header3 {
    background-color: #E8E8E8; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.header3_text {
    color: hsla(0, 0%, 0%, 0.61);
    font-size: 1.7em;
}

.item_list {
    display:flex; 
    justify-content: space-around;
    background-color: hsla(240, 7%, 76%, 1);
    margin-bottom: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

    .item_list:hover {
        background-color: hsla(240, 47%, 79%, 1);
    }

    .item_list:hover .item_star {
        fill: #FFFF00;
    }
    .item_list:hover .details_text {
        background-color: red;
    }

.item_star {
    fill: #FFFFFF;
}

.item_list_text_container {
    padding: 15px 75px 10px 85px;
}

.item_list_text_header {
    color: hsla(227, 25%, 27%, 1);
    border-bottom: white 2px solid;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}

.item_list_main_text {
    background: hsla(241, 9%, 85%, 1);
    color: hsla(227, 37%, 20%, 1);
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: auto;
    height: 70%;
    font-size: 1em;
}

.details_container {
    text-align: right;
    z-index: 0;
}

.details_text {
    position: relative; 
    top: -20px; 
    left: 110px; 
    background-color: hsla(227, 37%, 20%, 1); 
    color: white; 
    border-radius: 20px; 
    padding: 5px 35px; 
    font-size: 1.5em;
}

footer {
    background-color: #202846;
    color: white;
    padding: 25px 65px;
    font-size: 1.5em;
    font-style: italic;
}