html {
    font-size: 10px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Rosario', sans-serif;
}

.db_header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1;
}

.db_header a[class="navbar-brand"] > img {
    background-color: white;
    height: 80px;
}

.db_header li, .db_header a {
    display: inline-block;
    margin: 0px 15px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 3.2rem;
}

.db_header ul {
    align-self: flex-end;
}

.db_header button {
    font-size: 3rem;;
}

main > section {
    height: 90vh;
    max-width: 1620px;
    margin: 50px auto;
}

/*First screen*/
.section_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section_1 div:nth-child(2), .section_1 div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: auto;
    width: 32%;
}

.section_1 div:first-child, .section_1 div:last-child {
    align-self: center;

    height: auto;
    width: 16%;
}

.gallery_photo_2_5 > img, .gallery_photo_3_6 > img {
    width: 90%;
    align-self: center;
}
.gallery_photo_1, .gallery_photo_4 {
    text-align: center;
}

.gallery_photo_1 img, .gallery_photo_4 img {
    width: 90%;
    align-self: center;
}


/*Second screen*/
.section_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div_big_photo {
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_big_photo > img {
    width: 90%;
    height: auto;
}

.section_2_services {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    align-items: center;
    justify-items: center;
    align-self: center;
    margin: 5px auto;
}

/* .services_row1, .services_row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
} */

.section_2 figcaption {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 4rem;
}

.section_2_services figure {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.section_2_services img {
    width: 80%;
    align-self: center;
}

/*Second screen animation*/
@keyframes anim_service_photo1 {
    from, to {
        top: 0%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: 100%;
    }

    50% {
        top: 100%;
        left: 100%;
    }

    75% {
        top: 100%;
        left: 0%;
    }
}

@keyframes anim_service_photo2 {
    from, to {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 100%;
        left: 0px;
    }

    50% {
        top: 100%;
        left: -100%;
    }

    75% {
        top: 0px;
        left: -100%;
    }
}

@keyframes anim_service_photo3 {
    from, to {
        top: 0px;
        left: 0px;
    }

    25% {
        top: -100%;
        left: 0px;
    }

    50% {
        top: -100%;
        left: 100%;
    }

    75% {
        top: 0px;
        left: 100%;
    }
}

@keyframes anim_service_photo4 {
    from, to {
        top: 0%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: -100%;
    }

    50% {
        top: -100%;
        left: -100%;
    }

    75% {
        top: -100%;
        left: 0%;
    }
}

.section_2_services figure:nth-child(1) {
    position: relative;
    animation: anim_service_photo1 10s ease-in-out 2s infinite;
}

.section_2_services figure:nth-child(2) {
    position: relative;
    animation: anim_service_photo2 10s ease-in-out 2s infinite;
}

.section_2_services figure:nth-child(3) {
    position: relative;
    animation: anim_service_photo3 10s ease-in-out 2s infinite;
}

.section_2_services figure:nth-child(4) {
    position: relative;
    animation: anim_service_photo4 10s ease-in-out 2s infinite;
}

/*Third screen*/
.section_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 6;
}

.section_3_capture {
    font-size: 9.6rem;
    font-weight: 700;
    text-align: center;
    margin: 30px auto;
    height: 20%;
}

.section_3_masters {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.section_3_m_all {
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-self: center;
    height: 677px;
    width: 95%;

    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;

    filter: brightness(50%);
}

.section_3_m_1 {
    background-image: url('../img/master_1.png');
    /* width: 404px; */
}

.section_3_m_2 {
    background-image: url('../img/master_2.png');
    /* width: 392px; */
}

.section_3_m_3 {
    background-image: url('../img/master_3.png');
    /* width: 400px; */
}

.section_3_m_4 {
    background-image: url('../img/master_4.png');
    /* width: 396px; */
}

.section_3_m_capture {
    color: white; 
    background: rgba(163, 83, 10, 0.7);
    font-size: 4.8rem; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    text-align: center; 
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
    width: 100%; 
    visibility: hidden;
}

.section_3_m_all:hover .section_3_m_capture {
    visibility: visible;
    transition: all 2s linear;
}

.section_3_m_all:hover {
    filter: none;
}

/*Fourth screen*/
.section_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}

.section_4_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section_4_top > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}

.section_4_top div {
    font-weight: 700;
    font-style: italic;
    font-size: 6.4rem;
    text-align: center;
}

.section_4_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(229, 229, 229, 1);
}

.section_4_form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_4_form > div > input {
    width: 45%;
}

.section_4_form input, .section_4_form textarea {
    display: inline-block;
    font-size: 3.6rem;
    padding: 15px;
    margin: 15px;
    color: rgb(0, 0, 0, 0.5);
}

.section_4_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_4_bottom div[class^="div"] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.section_4_bottom a {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.section_4_bottom span {
    font-weight: 700;
    font-style: normal;
}

.a_insta::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon_insta.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    padding-right: 10px;
}

.a_fb::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon_fb.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    padding-right: 10px;
}

.a_twit::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon_twit.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 28px;
    padding-right: 10px;
}

/*Animation*/
 
@keyframes anim_photo1 {
    from {
        left: -600px;
    }

    to {
        left: 0px;
    }
}

.gallery_photo_1 {
    animation-delay: 4s;
    animation: anim_photo1 2s linear;
    position: relative;
}

@keyframes anim_photo2 {
    from {
        left: -600px;
    }
    to {
        left: 0px;
    }
}

.gallery_photo_2_5 {
    animation-delay: 1s;
    animation: anim_photo2 1s linear;
    position: relative;
}

@keyframes anim_photo_3_6 {
    from {
        left: 600px;
    }
    to {
        left: 0px;
    }
} 

.gallery_photo_3_6 {
    animation-delay: 1s;
    animation: anim_photo_3_6 1s linear;
    position: relative;
}

@keyframes anim_photo_4 {
    from {
        left: 600px;
    }
    to {
        left: 0px;
    }
}

.gallery_photo_4 {
    animation-delay: 4s;
    animation: anim_photo_4 2s linear;
    position: relative;
}


/*Media queries*/
@media only screen and (max-width: 768px) {
    html {
        font-size: 7.5px;
    } 

    main > section {
        height: auto;
        margin: 10px auto;
    }

    .section_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .section_1 div:nth-child(2), .section_1 div:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        height: auto;
        width: 70%;
    }
    
    .section_1 div:first-child, .section_1 div:last-child {
        align-self: center;
    
        height: auto;
        width: 70%;
    }

    @keyframes anim_photo_left {
        from {
            left: -200%;
        }
    
        to {
            left: 0px;
        }
    }

    @keyframes anim_photo_right {
        from {
            left: 300%;
        }
    
        to {
            left: 0px;
        }
    }
    
    .gallery_photo_1 {
        animation-delay: 2s;
        animation: anim_photo_left 2s linear;
        position: relative;
    }

    .gallery_photo_2_5 img:first-child {
        animation-delay: 2s;
        animation: anim_photo_right 2s linear;
        position: relative;
    }

    .gallery_photo_2_5 img:last-child {
        animation-delay: 2s;
        animation: anim_photo_left 2s linear;
        position: relative;
    }

    .gallery_photo_3_6 img:first-child {
        animation-delay: 2s;
        animation: anim_photo_right 2s linear;
        position: relative;
    }

    .gallery_photo_3_6 img:last-child {
        animation-delay: 2s;
        animation: anim_photo_left 2s linear;
        position: relative;
    }

    .gallery_photo_4 {
        animation-delay: 2s;
        animation: anim_photo_right 2s linear;
        position: relative;
    }

    /*services changes*/
    .div_big_photo img {
        visibility: hidden;
    }

    .div_big_photo {
        width: 0%;
    }
    
    .section_2_services {
        width: 95%;
    }

    /*Team changes*/
    .section_3_masters {
        grid-template-columns: 95%;
    }

    .section_3_m_all {
        width: 55%;
    }

    .section_4_top {
        flex-direction: column-reverse;
    }

    .section_4_top > div {
        width: 90%;
        align-self: center;
    }

    .section_4_bottom {
        flex-direction: column;
    }

    .section_4_bottom div {
        margin: 20px auto;
    }
}

@media only screen and (min-width:768px) and (max-width:992px)  {
    html {
        font-size: 7px;
    } 

    main > section {
        height: auto;
        margin: 10px auto;
    }
    
    .db_header li, .db_header a {
        font-size: 3rem;
    }

    .section_1 {
        display: grid;
        grid-template-areas: 
            "a b"
            "a b"
            "a b"
            "a b"
            "c d"
            "c d";
        grid-template-columns: 45% 45%;
    }

    .section_1 div:first-child, .section_1 div:last-child, .section_1 div:nth-child(2), .section_1 div:nth-child(3) {
        width: 80%;
        animation-delay: 1s;
        animation-duration: 2s;
    }

    .gallery_photo_1 {
        grid-area: a;
        justify-self: center;
    }

    .gallery_photo_4 {
        grid-area: b;
        justify-self: center;
    }

    .gallery_photo_2_5 {
        grid-area: c;
        justify-self: center;
    }

    .gallery_photo_3_6 {
        grid-area: d;
        justify-self: center;
    }

    .section_2 {
        flex-direction: column-reverse;
    }

    .div_big_photo {
        width: 90%;
        align-self: center;
    }

    .section_2_services {
        width: 100%;
    }

    .section_2_services figure {
        justify-self: center;
    }

    .section_3_masters {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-around;
        align-items: center;
    }

    .section_3_m_all {
        justify-self: center;
    }
}

@media only screen and (min-width:992px) and (max-width:1600px) {
    html {
        font-size: 7.5px;
    } 
    
    main > section {
        margin: 5px auto;
    }
}