<!--
<style>
 .card:hover path{
     fill: red;
 }

 a{
     display: inline-block;
     width: 50px;
     height: 50px;
     text-decoration: none;
     background-color: blue;
     border-radius: 50%;
     text-align: center;
     box-sizing: border-box;
     padding: .8rem 0;
 }

 img{
     width: 28px;

 }
</style>

<div class="card" style="background-color: black;">
  
<svg width="48" height="46" viewBox="0 0 48 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M47.4375 17.6875H29.5469L24 0.34375L18.4531 17.6875H0.5625L15.0156 28.3906L9.54688 45.6562L24 34.9531L38.4531 45.6562L32.9062 28.3125L47.4375 17.6875Z" fill="white"/>
</svg>


      
</div>

<a href=""><img src="../../twitter.svg" alt=""></a>

-->

<!--header-->


<!--product card-->
