html {
    font-size: 10px;

    --color-dark-aqua: rgba(21, 87, 103, 1);
    --color-light-blue: rgba(0, 191, 255, 1);
    --color-light-gray: rgba(162, 163, 164, 1);
    --color-gray-border: rgba(112, 112, 112, 1);
    --color-gray-shadow: rgba(112, 112, 112, 0.6);
    --color-gray-text: rgba(150, 150, 151, 1);


    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1300px;
}

header {
    background-color: var(--color-dark-aqua);
    height: 108px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 4px 4px 3px var(--color-gray-shadow);
}

.container {
    width: 95%;
    margin: 10px auto;
}

.container_with_top_margin {
    margin-top: 70px;
}

header div:nth-child(1) {
    height: 100%;
    width: 15%;
    background-color: white;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border: 1px solid var(--color-gray-border);
    box-shadow: 0px 3px 2px var(--color-gray-shadow);
}

header ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
}

header ul li {
    margin: auto 70px;
}

header ul li:nth-child(2) div:nth-child(1) {
    background-color: white; 
    padding: 16px 12px 12px 15px; 
    border-radius: 50%; 
    display: inline-block; 
    width: 35px; 
    height:35px; 
    text-align: center;
    margin-right: 10px;
}

header ul li:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header ul li:nth-child(2) a {
    font-size: 2.4rem;
    color:white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

.div_refresh {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 10px;
}

.blue_btn {
    background-color: var(--color-light-blue);
    color: white;
    min-width: 100px;
    font-weight: 700;
    font-size: 2rem;
    padding: 10px 15px;
    border: 1px solid var(--color-light-blue);
}

.black_btn {
    background-color: black;
    width: 45px;
}

.buttons_fields {
    height: 45px;
    text-align: center;
}

.btn_round {
    border-radius: 10px;
}

.gray_btn {
    background-color: var(--color-light-gray);
    color: white;
    min-width: 100px;
    font-weight: 700;
    font-size: 2rem;
    padding: 10px 15px;
    border: 1px solid var(--color-light-gray);
}

.gray_btn:hover, .black_btn:hover, .blue_btn:hover {
    cursor: pointer;
}

.btn_with_margins {
    margin: 10px;
}

.main_section {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main_section_left {
    width: 30%;
    border-right: 1px solid black;
}

.main_section_left ul {
    font-weight: 400;
    font-size: 2.4rem;
    margin: 25% 10% 35% 10%;
}

.main_section_left li {
    margin-bottom: 10px;
    padding-left: 10px;
}

.main_section_left li > a {
    text-decoration: none;
    color: black;
}

.main_section_left ul li:nth-child(1) {
    list-style-image: url("../img/icon_material_dashboard.png");
}
.main_section_left ul li:nth-child(2) {
    list-style-image: url("../img/icon_dice_four.png");
}
.main_section_left ul li:nth-child(3) {
    list-style-image: url("../img/icon_billing.png");
}
.main_section_left ul li:nth-child(4) {
    list-style-image: url("../img/icon_material_group.png");
}
.main_section_left ul li:nth-child(5) {
    list-style-image: url("../img/icon_material_settings_remote.png");
}
.main_section_left ul li:nth-child(6) {
    list-style-image: url("../img/icon_material_report.png");
}
.main_section_left_active_field {
    font-weight: 700;
}

/*Right section*/
.main_section_right {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.main_section_right_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
}

.main_section_add_cpo {
    color: var(--color-gray-text);
    font-size: 2.4rem;
    padding-left: 50px;
    padding-top: 10px;
    margin: 5px 15px;
    background-image: url("../img/icon_user_edit.png");
    background-position: left;
    background-repeat: no-repeat;
    align-self: flex-start;    
}

.main_section_cpo {
    color: var(--color-gray-text);
    font-size: 2.4rem;
    margin: 5px 15px;
    align-self: flex-start;    
}

.main_section_right_center {
    width: 80%;
    margin: 10px auto 30px auto;    
}

.main_section_right_center p {
    display: flex;
    flex-direction: column;
}

.main_section_right_center label, input, select {
    display: inline-block;
    font-size: 2rem;
    color: var(--color-gray-text);
    height: 40px;
    padding-left: 20px;
}

.main_section_right_center input, select {
    border-width: 1px;
    border: 1px solid var(--color-gray-border);
}

.country_code_section {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.country_code_section p {
    width: 45%;
}

.section_generate_token {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section_generate_token input {
    width:70%
}

.generate_token_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    min-width: 220px;
    background-color: var(--color-light-blue);
    color: white;
    font-weight: 700;
    font-size: 2rem;
    border: 1px solid var(--color-light-blue);
}

.generate_token_btn:hover {
    cursor: pointer;
}

.generate_token_btn::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon_key.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 35px;
}

/*Charging station 2 styles*/
.section_status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 5px;
}

.input_status {
    text-align: center;
    width: 30%;
    padding-left: 0px;
}

.input_search {
    width: 50%;
    background-image: url('../img/icon_search.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
}

/*Invite user 1 styles*/
.div_black_bold_text {
    color: black;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 10px;
}

.select_charging_station {
    width: 40%;
    margin-bottom: 0px;
}

table {
    font-size: 2.0rem;
    font-weight: 400;
    color: var(--color-gray-text);
    align-self: center;
    width: 100%;
}

table tr {
    text-align: center;
}

table td:empty::after{
    content: "\00a0";
}

table tbody td {
    background-color: rgba(214, 214, 214, 0.16);
}

.div_slider {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.main_section_right_center_bigger {
    width: 95%;
    margin: 10px auto;  
    display: flex;
    flex-direction: column; 
}

.main_section_right_center_footer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-top: 1px black solid;
}

.main_section_right_center_footer form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_section_right_center_footer form>p {
    width: 20%;
}

.main_section_right_center_footer label {
    color: black;
    font-size: 2.4rem;
    font-weight: 700;
    padding-left: 2px;
}

.main_section_right_center_footer form input {
    border-radius: 10px;
}

.input_rating {
    background-image: url('../img/star.svg');
    background-repeat: repeat-x;
    background-position-y: 10px;
}

.div_bottom_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 10px;
}

.div_bottom_line p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.div_bottom_line p input {
    border: none;
    border-bottom: 1px black solid;
}

/*Login page styles*/

.main_section_add_cpo span {
    text-transform: uppercase;
}

.div_general_information_1 {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.div_general_information_2 {
    width: 45%;
}

.main_section_right_center_two_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form_permissions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form_permissions label {
    margin: 0px;
    padding: 0px;
}

.form_permissions input {
    height: auto;
}

.form_permissions input[type="radio"]:checked+label{
    color: black;
}
