html {
    font-size: 10px;

    --color-deep-yellow: rgba(255, 165, 0, 1);
    --color-deep-blue: rgba(0, 191, 255, 1);
    --color-text-gray: rgba(150, 150, 151, 1);

    font-family: 'Open Sans', sans-serif;;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

main div:nth-child(1) {
    align-self: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    border-right: 4px var(--color-deep-yellow) solid;
}

main div:nth-child(1) img {
    align-self: flex-end;
    margin: 20%;
}

main div:nth-child(2) {
    align-self: flex-end;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

main form {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

main label, input {
    display: block;
}

main label {
    color: var(--color-text-gray);
    font-size: 2.8rem;
}

main input {
    padding: 10px;
    border: 1px var(--color-text-gray) solid;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

main form a {
    display: inline-block;
    align-self: flex-end;
    text-decoration: none;

    margin-top: 20px;
    background-color: var(--color-deep-blue);
    border-radius: 3px;
    border: 1px var(--color-deep-blue) solid;
    font-weight: 700;
    font-size: 2.4rem;
    color: black;
    padding: 5px 40px;
}

main div > a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--color-text-gray);
    align-self: flex-end;
    margin-right: 100px;
}
