:root {
    font-size: 48px;
}

.header {
    font-size: 1em;
    color: aqua;
    text-align: center;
}

div.st_chirch {
    background-image: url('../src/backgroung_chirch.jpg');
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    padding: 200px 200px 200px 200px;
}

.st_text_chirch {
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

.header2 {
    font-size: 1em;
    font-weight: bold;
    margin:0px;
    border-bottom: solid 3px #33B8F1;
    width: fit-content;
}

.header2_container {
    margin: 100px auto 100px 100px;
}

.table_cell {
    width: 400px; 
    box-shadow: 0px 0px 20px gray; 
    vertical-align: top;
    border-radius: 10%;
    padding-bottom: 20px;
}

.header3 {
    font-size: 0.75em;
    font-weight: bold;
}

.header3_expl {
    font-size: 0.6em;
}

.header4 {
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: #33B8F1 solid 4px;
    width: max-content;
    align-content: center;
    padding-top: 50px;
}

.like_btn {
    font-size: 0.75em;
    color: white;
    text-transform: uppercase;
    background-color: #33B8F1;
    width: min-content;
    text-align: center;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
}

.bottom_block {
    background-color: blue;
    text-align: center;
    padding: 30px;
}

.bottom_text_header {
    font-size: 1em;
    color: aqua;
    padding: 30px;
}

.bottom_text {
    font-size: 0.6em;
    color: #353949;
}

a.bottom_link:link, a.bottom_link:visited {
    padding: 20px;
    text-decoration: none;
}