html{
    font-size: 10px;
    --color: #333333; 
    --tomato: #A04955;
    --title-color: #001F3D;
    --black: #000000;
    --font-OS : 'Open Sans', sans-serif;
    --gray: #F1F1F1;
    --white: white;

}

a{
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
}

.container{
    width: 95%;
    margin: 0 auto;
}

body, ul, li{
    margin: 0;
    padding: 0;
    color: var(--color);
    font-family: 'Oswald', sans-serif;
    color: var(--color);
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 3.3rem 0;
    font-weight: 400;
}

ul.nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.nav_item > a{
    font-size: 2rem;
    color: var(--color);
}

.header__search{
    border: 1px solid var(--tomato);
    font-size: 1.5rem;
    width: 270px;
    padding: 1rem 0;
    padding-left: 6rem;
    border-radius: 50px;
    align-self: center;
    background-image: url("../image/search.svg");
    background-repeat: no-repeat;
    background-position: 3rem center;
}

/* banner start*/

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner > div{
    width: 50%;
}

.banner .banner__info-title{
    color: var(--title-color);
    font-size: 6.5rem;
    font-weight: 700
}

.banner .banner__info-subtitle{
    font-family: var(--font-OS);
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.banner__btn{
    width: 24rem;
    padding: 1rem 0;
    display: inline-block;
    border: 1px solid var(--black);
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
    font-family: var(--font-OS);
    font-size: 2.4rem;
}

.banner__img img{
width: 100%;
}

/*collection satrt*/
.collection{
    background-color: var(--gray);
}

.collection-title{
    font-weight: 500;
    font-size: 3.6rem;
    text-align: center;
    padding: 8rem 0;
}

.collection-title > :last-child{
    font-size: 6.4rem;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 20%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 416px;
    justify-content: space-around;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10rem;
}

.card > img{
    width: 60%;
}

.card-title{
    font-size: 2.4rem;
    width: 60%;
}

.card > p {
    font-weight: 200;
    font-size: 1.8rem;
}

.card > p > span{
    font-weight: 500;
}

.card a {
    display: inline-block;
    background-color: var(--tomato);
    color: var(--white);
    font-weight: 400;
    font-size: 1.8rem;
    padding: 1rem;
}

.card a::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url("../image/bag.svg");
}
