
body{
    font-family: 'PT Sans', sans-serif;
    margin: 0%;
}

header{
    background-color: #202846;
    color: #fff;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5%;
    
}



ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
    font-weight: 700;
    border-right: 2px solid white;
    padding: 10px;
    margin: 0%;
    
    
    
    
}

li a{
    text-decoration: none;
    color: #fff;
    
}



.img1{
    width: 100px;
    padding-right: 22rem;
}

.img2{
    width: 80px;
    margin-left: 50px;
}

main{
    background-color: #E5E5E5;
}

.book{
    background-color: #C6C6DC;
    height: 140px;
    margin-bottom: 8%;
    display: flex;
    align-items: center;

}

.book_content{
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: #202846;
    padding-left: 10%;
    
}

.card{
    height: 260px;
    background-color: #BDBDC6;
    margin: 2% 10%;
    position: relative;
    
    
}

.card_img{
    position: absolute;
    top: 13%;
    left: 5%;
    width: 37%;
    height: 75%;
    
    
    
}


.card_text{
    width: 45%;
    position: absolute;
    top: 13%;
    box-sizing: content-box;
    right: 6%;
    height: 75%;
    
}

.card_title{
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    color: #353C57;
    border-bottom: 3px solid #fff;
    margin-bottom: 9px;
    
    
}

.card_content{
    height: 49%;
    color: #202846;
    font-weight: 400;
    font-size: 16px;
    background-color: #D7D7DD;
    text-align: center;
    padding: 5%;
    margin-bottom: 0px;
    
    

}


svg{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}
svg path:hover{
    fill: yellow;
}

.link a{
    border: 1px solid #202846;
    border-radius: 50px ;
    background-color: #202846;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    bottom: 6%;
    right: -3%;
    text-decoration: none;
    height: 40px;
    width: 115px;


}

.prefooter{
    width: 100%;
    height: 20px;
}



footer{
    background-color: #202846;
    height: 65px;
    width: 100%;
    
}

.end{
    color: #EEECF1;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    margin-left: 5%;
    padding-top: 1rem;
}

