html {
    font-size: 10px;
    font-family: 'Rosario', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1;
}

header img {
    background-color: white;
    height: 70px;
}

header ul {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: row;
}

header ul li, header ul li a {
    display: inline-block;
    margin: auto 15px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
}

main > section {
    height: 90vh;
    min-width: 120vh;
    margin: 50px auto;
}

/*First screen*/
.section_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section_1 div:nth-child(2), .section_1 div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: auto;
}

.section_1 div:first-child, .section_1 div:last-child {
    align-self: center;

    height: auto;
}

.gallery_photo_2_5 > img, .gallery_photo_3_6 > img {
    height: 45%;
}


/*Second screen*/
.section_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section_2_services {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services_row1, .services_row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.section_2 figcaption {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 4rem;
}

.services_row1 > figure, .services_row2 > figure {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.services_row1 img, .services_row2 img {
    width: 80%;
    align-self: center;
}

/*Second screen animation*/
@keyframes anim_service_photo1 {
    from, to {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 0px;
        left: 50%;
    }

    50% {
        top: 100%;
        left: 50%;
    }

    75% {
        top: 100%;
        left: 0px;
    }
}

@keyframes anim_service_photo2 {
    from, to {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 100%;
        left: 0px;
    }

    50% {
        top: 100%;
        left: -50%;
    }

    75% {
        top: 0px;
        left: -50%;
    }
}

@keyframes anim_service_photo3 {
    from, to {
        top: 0px;
        left: 0px;
    }

    25% {
        top: -100%;
        left: 0px;
    }

    50% {
        top: -100%;
        left: 50%;
    }

    75% {
        top: 0px;
        left: 50%;
    }
}

@keyframes anim_service_photo4 {
    from, to {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 0px;
        left: -50%;
    }

    50% {
        top: -100%;
        left: -50%;
    }

    75% {
        top: -100%;
        left: 0px;
    }
}

.services_row1 figure:first-child {
    position: relative;
    animation: anim_service_photo1 10s ease-in-out 2s infinite;
}

.services_row1 figure:last-child {
    position: relative;
    animation: anim_service_photo2 10s ease-in-out 2s infinite;
}

.services_row2 figure:first-child {
    position: relative;
    animation: anim_service_photo3 10s ease-in-out 2s infinite;
}

.services_row2 figure:last-child {
    position: relative;
    animation: anim_service_photo4 10s ease-in-out 2s infinite;
}

/*Third screen*/
.section_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 6;
}

.section_3_capture {
    font-size: 9.6rem;
    font-weight: 700;
    text-align: center;
    margin: 30px auto;
    height: 20%;
}

.section_3_masters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.section_3_m_all {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 677px;
    width: 400px;

    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;

    filter: brightness(50%);
}

.section_3_m_1 {
    background-image: url('../img/master_1.png');
    width: 404px;
}

.section_3_m_2 {
    background-image: url('../img/master_2.png');
    width: 392px;
}

.section_3_m_3 {
    background-image: url('../img/master_3.png');
    width: 400px;
}

.section_3_m_4 {
    background-image: url('../img/master_4.png');
    width: 396px;
}

.section_3_m_capture {
    color: white; 
    background: rgba(163, 83, 10, 0.7);
    font-size: 4.8rem; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    text-align: center; 
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
    width: 100%; 
    visibility: hidden;
}

.section_3_m_all:hover .section_3_m_capture {
    visibility: visible;
    transition: all 1s linear;
}

.section_3_m_all:hover {
    filter: none;
}

/*Fourth screen*/
.section_4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}

.section_4_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section_4_top > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}

.section_4_top div {
    font-weight: 700;
    font-style: italic;
    font-size: 6.4rem;
    text-align: center;
}

.section_4_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(229, 229, 229, 1);
}

.section_4_form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_4_form > div > input {
    width: 45%;
}

.section_4_form input, .section_4_form textarea {
    display: inline-block;
    font-size: 3.6rem;
    padding: 15px;
    margin: 15px;
    color: rgb(0, 0, 0, 0.5);
}

.section_4_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_4_bottom div[class^="div"] {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.section_4_bottom a {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.section_4_bottom span {
    font-weight: 700;
    font-style: normal;
}

.a_insta::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon_insta.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    padding-right: 10px;
}

.a_fb::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon_fb.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    padding-right: 10px;
}

.a_twit::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icon_twit.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 28px;
    padding-right: 10px;
}

/*Animation*/
 
@keyframes anim_photo1 {
    from {
        left: -600px;
    }

    to {
        left: 0px;
    }
}

.gallery_photo_1 {
    animation-delay: 4s;
    animation: anim_photo1 2s linear;
    position: relative;
}

@keyframes anim_photo2 {
    from {
        left: -600px;
    }
    to {
        left: 0px;
    }
}

.gallery_photo_2_5 {
    animation-delay: 1s;
    animation: anim_photo2 1s linear;
    position: relative;
}

@keyframes anim_photo_3_6 {
    from {
        left: 600px;
    }
    to {
        left: 0px;
    }
} 

.gallery_photo_3_6 {
    animation-delay: 1s;
    animation: anim_photo_3_6 1s linear;
    position: relative;
}

@keyframes anim_photo_4 {
    from {
        left: 600px;
    }
    to {
        left: 0px;
    }
}

.gallery_photo_4 {
    animation-delay: 4s;
    animation: anim_photo_4 2s linear;
    position: relative;
}