html {
    font-size:10px;
    font-family: 'Space Grotesk', sans-serif;

    --color-dark-aqua: #27485D;
    --color-light-aqua: rgba(71, 109, 115, 1);
    --color-text-gray: rgba(204, 204, 204, 1);
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

main {
    margin: 10%;
    width: 80%;
    min-width: 1040px;

    display: flex;
    flex-direction: row;
}

.left_container {
    width: 50%;
    background-color: white;
    font-size:2.4rem;
    padding: 5%;
    font-weight: 400;
    color:  black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_cont_text1{
    align-self: flex-start;
    color: var(--color-dark-aqua);
}

.left_cont_text2 {
    margin: 70px 30px;
    font-weight: 700;
}

.left_container p {
    display: flex;
    flex-direction: column;
}

.left_container form {
    margin: 0 80px;
}

.left_cont_label2 {
    font-size: 1.2rem;
    color: var(--color-text-gray);
}

.left_container p label:nth-child(1) {
    font-size: 1.6rem;
}

.left_container label span {
    font-size: 1.2rem;
    color: var(--color-text-gray);
}

input {
    border: 1px solid var(--color-text-gray);
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}

input[type="submit"] {
    background-color: var(--color-dark-aqua);
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}

::placeholder {
    color: var(--color-text-gray);
}

.left_cont_end_text {
    display: inline;
    color: var(--color-text-gray);
    font-size: 1.6rem;
}

.left_cont_end_container {
    margin-top: 20px;
}

.left_cont_end_container a {
    color: var(--color-light-aqua);
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
}

.right_container {
    width: 50%;
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    padding: 5%;

    display: flex;
    flex-direction: column;
}

.right_cont_header {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.right_cont_header a {
    color: white;
    font-weight: 700;
    font-size:1.6rem;
    padding: 0 10px;
    text-decoration: none;
}

.right_cont_big_text {
    font-size: 6.4rem;
    color: white;
    align-self: center;
    margin: auto 10px;
    text-shadow: 4px 2px 2px rgba(255, 255, 255, 0.4);
}

.right_cont_big_text p {
    font-size: 1.6rem;
}
