html {
    font-family: 'Work Sans', sans-serif;

    --color-green: rgba(41, 167, 30, 1);
    --color-red: rgba(225, 53, 53, 1);
    --color-blue: rgba(54, 117, 176, 1);
}

body {
    height: 100vh;
    background-color: rgba(255, 176, 132, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 10px;
}

main {
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 0.2fr 0.3fr 0.2fr 0.2fr;
    gap: 25px;
    margin: 10%;
    max-width: 800px;

    font-size: 1.4em;
}

main > div {
    background-color: white;
    border-radius: 15px;
    padding: 20px 25px;
}

main > div span {
    font-weight: 700;
}

main > div ul {
    padding-inline-start: 20px;
}

.card-about {
    grid-row: 1/5;
    box-shadow: 5px 5px 5px black;
}

.card-about li > span {
    font-weight: 600;
}

.card-about > div {
    font-size: 2.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-about > div > img {
    margin: 5%;
}

.card-about ul {
    list-style: none;
}

.card-about li {
    margin: 15px auto;
}

.card-bio {
    grid-column: 2/4;
    grid-row: 1;
    box-shadow: 5px 5px 5px black;
}

.card-kredo {
    grid-column: 1;
    grid-row: 5;
    box-shadow: 5px 5px 5px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-goals {
    grid-column: 2;
    grid-row: 2;
    box-shadow: 5px 5px 5px var(--color-green);
}

.card-goals span {
    color: var(--color-green);
}

.card-frustrations {
    grid-column: 3;
    grid-row: 2/4;
    box-shadow: 5px 5px 5px var(--color-red);
}

.card-frustrations span {
    color: var(--color-red);
}

.card-company {
    grid-column: 2;
    grid-row: 3/6;
    box-shadow: 5px 5px 5px var(--color-blue);
}

.card-company span {
    color: var(--color-blue);
}

.card-tags {
    grid-column: 3;
    grid-row: 4/6;
    box-shadow: 5px 5px 5px black;
}

